<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }}</title>
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
    <style type="text/tailwindcss">
      main { @apply bg-white rounded-lg shadow-md p-6 mb-8; }
      main h1 { @apply text-2xl font-semibold mb-4 text-center; }
      main h2 { @apply font-medium text-xl mb-2 mt-16; }
      main p, main li { @apply mb-3 text-gray-700; }
      main a { @apply underline; }
      table { @apply w-full text-sm border-collapse mt-4; }
      tbody tr { @apply border-b border-gray-200; }
      td { @apply px-3 py-3 text-gray-900 align-middle; }
      td h3 { @apply font-semibold text-black block; }
      td.date { @apply text-gray-900 whitespace-nowrap; }
      th { @apply px-3 py-3 text-left font-semibold; }
      thead { @apply bg-gray-900 text-white; }
      .container { @apply mx-auto px-4 py-8 max-w-7xl; }
      .canyon-title {@apply whitespace-nowrap font-bold; }
      .region { @apply whitespace-nowrap; }
      .empty { @apply text-gray-400; }
    </style>
  </head>

  {% macro canyon_name(name, link) %}
  {% if link %}
      <a href="{{ link }}">{{ name }}</a>
  {% else %}
      {{ name }}
  {% endif %}
  {% endmacro %}

  <body class="bg-gray-100 min-h-screen font-sans">
    <div class="container">
      <main>
        <h1>Canyon History</h1>
        <table>
          <thead>
            <tr>
              <th>Date</th>
              <th>Canyon</th>
              <th>Region</th>
              <th>Class</th>
              <th>Flow</th>
              <th>Notes</th>
            </tr>
          </thead>
          <tbody>
            {% for item in canyons %}
              {% set stripe = "bg-stone-50" if loop.index % 2 == 0 else "bg-white" %}

              {% if item.type == "day trip" %}
                <tr class="{{ stripe }}">
                  <td class="date">{{ item.display_date if item.display_date else '<span class="empty">—</span>' | safe }}</td>
                  <td class="canyon-title">{{ canyon_name(item.canyon, item.link) }}</td>
                  <td class="region">{{ item.region }}</td>
                  <td class="canyon-class">{{ item.class }}</td>
                  <td class="flow">{{ item.flow if item.flow else '<span class="empty">—</span>' | safe }}</td>
                  <td class="notes">{{ item.notes if item.notes else '' }}</td>
                </tr>

              {% else %}
                {% for c in item.canyons %}
                  <tr class="{{ stripe }}">
                    {% if loop.first %}
                      <td class="date" rowspan="{{ item.canyons | length }}">
                        <h3>{{ item.name }}</h3>
                        <p>{{ item.display_date if item.display_date else '<span class="empty">—</span>' | safe }}</p>
                      </td>
                    {% endif %}
                    <td class="canyon-title">{{ canyon_name(c.canyon, c.link) }}</td>
                    <td class="region">{{ c.region }}</td>
                    <td class="canyon-class">{{ c.class }}</td>
                    <td class="flow">{{ c.flow if c.flow else '<span class="empty">—</span>' | safe }}</td>
                    <td class="notes">{{ c.notes if c.notes else '' }}</td>
                  </tr>
                {% endfor %}

              {% endif %}
            {% endfor %}
          </tbody>
        </table>
      </main>
    </div>
  </body>
</html>

